//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and OneUI functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

.simple-paginate {
  ul.pagination {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-control-alt {
  & + .select2 {
    .select2-selection {
      border-width: 0;
      border-color: #ebeef2;
      background-color: #ebeef2;
    }

    &.select2-container--focus,
    &.select2-container--open {
      .select2-selection {
        border-color: #dde2e9;
        background-color: #dde2e9;
      }

      .select2-selection--single {
        box-shadow: none;
      }
    }
  }

  &.is-invalid + .select2 {
    .select2-selection {
      border-color: #f7d2da;
      background-color: #f7d2da;
    }
  }
}
